* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url('../../image.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

.panel {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding: 50px 0;
}

.panel__excursions {
	width: 70%;
}

.excursions {
	display: flex;
	flex-wrap: wrap;
}

.excursions__item {
	background-color: rgba(203, 198, 198, 0.89);
	border-radius: 5px;
	box-shadow: 0px 0px 20px -7px rgba(66, 68, 90, 1);
	display: flex;
	flex-wrap: wrap;
	width: calc(50% - 20px);
	height: 500px;
	margin: 10px;
	padding: 20px;
}

.panel__form {
	background-color: rgba(203, 198, 198, 0.89);
	border-radius: 15px;
	box-shadow: 0px 0px 20px -7px rgba(66, 68, 90, 1);
	width: 30%;
	padding: 20px;
}

.uploader,
.order {
	border-bottom: 1px solid rgba(153, 199, 238, 0.74);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.excursions__item--prototype,
.summary__item--prototype {
	display: none;
}

.excursions__field-input,
.order__field-input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	outline: none;
	min-width: 150px;
	min-height: 30px;
	padding: 5px 4px;
}

input[type='text'] {
	background-color: white;
}

.order__field-submit {
	color: rgb(8, 105, 189);
	background-color: rgba(153, 199, 238, 0.74);
	border: none;
	font-weight: bold;
	width: 100%;
	margin: 10px 0;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.order__field-submit:hover {
	background-color: rgba(18, 113, 197, 0.74);
	color: white;
}

.summary__btn-remove {
	color: #d11c1c;
	text-decoration: none;
	float: right;
}

.excursions__description {
	padding: 10px 0;
}

.excursions__title {
	text-align: center;
}

.excursions__field,
.order__field,
.summary__item,
.uploader__input,
li,
.excursions__field-input,
.order__field-input {
	padding: 5px 8px;
}

.excursions__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: flex-end;
	align-items: center;
	width: 100%;
}


.button {
	position: relative;
	margin-top: 10px;
	color: rgb(8, 105, 189);
	background-color: rgba(153, 199, 238, 0.74);
	border: none;
	font-size: 12px;
	font-weight: bold;
	min-height: 35px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.button:hover {
	background-color: rgba(18, 113, 197, 0.74);
	color: white;
}


.uploader__input {
	color: rgba(18, 113, 197, 0.74);
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.uploader__label {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	color: rgb(190, 215, 226);
	background-color: rgb(57, 93, 170);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.uploader__label:focus,
.uploader__label:hover {
	background-color: white;
	color: rgba(61, 70, 224, 0.767);
}